.section-projects {
  padding: 0;
}

.projects-showcase {
  list-style: none;
  width: 100%;
}

.projects-showcase li {
  display: block;
  float: left;
  width: 25%;
  overflow: hidden;
  background: #000;
}

.project-image {
  width: 100%;
  margin: 0;
}

.project-image img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.project-image img:hover {
  opacity: 1;
  transform: scale(1);
}
